*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f2f2db;
}
.profile-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  padding: 25px;
}

.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: aqua;
  padding: 3px;
  margin-bottom: 20px;
  cursor: pointer;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}
.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-data .name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text-data .job {
  font-size: 18px;
  font-weight: 400;
}
.profile-card .media-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.media-icons .link {
  margin: 0 8px;
  text-decoration: none;
  background-color: rgb(50, 29, 239);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.media-icons .insta {
  background: #e1306c;
}
.media-icons .insta:hover {
  background-color: #c9306c;
}
.media-icons .twitter {
  background: #1da1f2;
}
.media-icons .twitter:hover {
  background-color: #1976d2;
}
.media-icons .youtube {
  background-color: #f00;
}
.media-icons .youtube:hover {
  background-color: #cc181e;
}
.media-icons .facebook {
  background-color: #4267b2;
}
.media-icons .facebook:hover {
  background-color: #3b5998;
}
.profile-card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.buttons .btn {
  background-color: #1da1f2;
  margin: 0 10px;
  padding: 8px 24px;
  border-radius: 24px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .btn:hover {
  background-color: #1976d2;
}
.profile-card .analystics {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
}
.analystics .data {
  display: flex;
  align-items: center;
  color: #333;
  border-right: 2px solid #e7e7e7;
}
.data .number {
  font-size: 18px;
  margin-right: 10px;
}
.data:last-child {
  border-right: none;
}
.profile-card::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 100%;
  background-color: #4070f4;
  top: 0;
  left: 0;
  border-radius: 24px 24px 0 0;
}